@page

<h1>@Localizer["Privacy"]</h1>

<p>ssssss @Localizer["PrivacyMessage"]</p>

<h1 class="btn btn-outline-danger">@Localizer["Save"]</h1>
<h1 class="btn btn-outline-dark">@Localizer["Delete"]</h1>
